.filme-info{
   display: flex;
   flex-direction: column;
   max-width: 900px;
}
.filme-info img{
    border-radius: 20px;
}
.filme-info button{
    margin-left: 5px;
    margin-top: 15px ;
    cursor:pointer;
    border: 0;
    font-size: 20px;
    outline: none;
    padding: 12px;
    border-radius: 1px;
    transition: all 0.5s;
}
.filme-info button:hover{
    background-color:brown;
    color: #fff;
    border: 1px solid black;
}


.filme-info a{
    transition: all 0.5s;
    text-decoration:none;
    color: #000;
}
.filme-info a:hover{
    color: #fff;
   
}